<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		 <typeAlias type="global.sesoc.mountshop.vo.MemberVO" alias="member" />
		 <typeAlias type="global.sesoc.mountshop.vo.CategoryVO" alias="category" /> 
		 <typeAlias type="global.sesoc.mountshop.vo.GoodsVO" alias="goods" />   
		 <typeAlias type="global.sesoc.mountshop.vo.GoodsViewVO" alias="goodsview" />
		 <typeAlias type="global.sesoc.mountshop.vo.ReplyVO" alias="reply" />  
		 <typeAlias type="global.sesoc.mountshop.vo.ReplyListVO" alias="replylist" />  
		 <typeAlias type="global.sesoc.mountshop.vo.CartVO" alias="cart" />    
		 <typeAlias type="global.sesoc.mountshop.vo.CartListVO" alias="cartlist" /> 
		 <typeAlias type="global.sesoc.mountshop.vo.OrderVO" alias="order" /> 
		 <typeAlias type="global.sesoc.mountshop.vo.OrderDetailVO" alias="orderdetail" /> 
		 <typeAlias type="global.sesoc.mountshop.vo.OrderListVO" alias="orderlist" /> 
	</typeAliases>
	
	<mappers>
		 <mapper resource="mappers/memberMapper.xml" />  
		 <mapper resource="mappers/adminMapper.xml" />  
		 <mapper resource="mappers/shopMapper.xml" />  
	</mappers>
</configuration>
